button {
  background: #70309e;
  border-radius: 32px;
  padding: 8px 16px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button .fa{
  font-size: 22px;
  margin-right: 8px
}

.main-container {
  background-color: #110010;
  height: 100vh
}

.container {
  max-width: 1280px;
  margin: auto
}

.header {
  color: white;
  width: 100%;
}

.header > div {  
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: solid white 1px;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
}

.search input {
  width: 100%;
  border: none;
  background: transparent;
}

.branding {
  font-size: 26px;
  font-weight: bold;
}

.branding-sub {
  display: block;
  font-size: 12px;
}