* {
  box-sizing: border-box;
}

button {
  background: #70309e;
  border-radius: 32px;
  padding: 8px 16px;
  color: rgba(255,255,255,0.7);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
}

button .fa{
  font-size: 22px;
  margin-right: 8px
}

.main-container {
  background-color: #110010;
  height: 100vh
}

.container {
  max-width: 1000px;
  margin: auto
}

.header {
  color: white;
  width: 100%;
}

.header > div {  
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: solid white 1px;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
}

.search input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.branding {
  font-size: 26px;
  font-weight: bold;
}

.branding-sub {
  display: block;
  font-size: 12px;
}

.list-container {
  display: table;
  width: 100%;
  border-collapse: collapse
}

.list-container > div{
  color: white;
  display: table-row;
  border-bottom: solid #110010 2px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.list-container > div:first-of-type {
  font-weight: bold;
  letter-spacing: 2px;
}

.list-container > div > div{
  display: table-cell;  
  padding: 16px; 
  background-color: #767070;
}

.list-container > div > div:nth-of-type(even){  
  background-color: #837c7c;
}

.list-container > div:first-of-type > div{
  padding: 4px 16px;
}

.list-action {
  width: 80px;
  text-align: center;
  cursor: pointer;
  transition: .5s all;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.list-action:last-of-type {
  color: orange
}

.list-action:hover {
  color: #000
}

.list-bullets {
  border: solid 1px;
  color: rgba(255,255,255,.5);
  background-color: #70309e;
  width: 25px;
  height: 25px;
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.back-drop {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top:0;
  z-index: 100
}

.employeee-form-container {
  position: absolute;
  background: #242335;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: fit-content;
  color: rgba(255,255,255,.7);
  padding: 24px;
  z-index: 200;
  border-radius: 8px;
  font-size: 14px;
}

.employeee-form-container h2 {
  margin: 0;  
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;

}

.employeee-form-container h3 {
  margin-bottom: 0;
  color: #70309e;  
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  
}

.form-group {
  margin-bottom: 8px
}

.form-group input{
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 8px;
  background-color: #786f70;
  border: solid #242335 2px
}

.form-group-group {
  display: flex;
  justify-content: space-between;
}

.form-sumit {
  display: flex;
}

.form-sumit button:last-of-type {
  margin-left: 8px
}