.main-container {
  background-color: #110010;
  height: 100vh
}

.container {
  max-width: 1280px;
  margin: auto
}

.header {
  color: white;
  width: 100%;
}

.header > div {
  border: solid;  
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 8px 0;
  justify-content: space-between;
}

.search {
  border: solid white 1px;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
}

.search input {
  width: 100%;
  border: none;
  background: transparent;
}

.branding {
  font-size: 26px;
  font-weight: bold;
}

.branding-sub {
  display: block;
  font-size: 12px;
}